<h1>Bem vindo <%= @name %> ao DioClassificados</h1>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates facilis itaque molestias eveniet ullam asperiores tempore sequi repudiandae, vel dolores error magnam doloremque, esse quidem quibusdam dolorem accusamus blanditiis magni.</p>